# nombre del pipeline
name: CI Pipeline

# definir el evento desencadenante del pipeline
on:
    push:
        branches: [main] # cada push a la rama main ejecutara el pipeline

# contenedor que ejecuta multiples acciones en secuencia
jobs:
    # se define un nuevo job llamado build, que se va a ejecutar en un runner que usa Ubuntu
    build:
        # indicarle al pipeline en que tipo de maquina debe ejecutarse
        # github prepara una maquina virtual con el sistema operativo Ubuntu en su ultima version mas reciente soportada por github actions
        runs-on: ubuntu-latest

    steps:
        # cada paso debe tener un nombre
        - name: Checkout Code
          uses: actions/checkout@v6

        - name: Set up Node.js
        uses: actions/setup-node@v6
          with:
            node-version: 16

        - name: Install dependencies
          run: npm install

        - name: Run tests
          run: npm run test
